{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}Wiki - {% endblock %}</title>
        <link  rel="stylesheet" href="{% static 'encyclopedia/common.css' %}">
        <link  rel="stylesheet" href="{% static 'encyclopedia/forms.css' %}">
        <link  rel="stylesheet" href="{% static 'encyclopedia/content.css' %}">
        <link  rel="stylesheet" href="{% static 'encyclopedia/accessibility.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <h2 class="logo">Wiki</h2>
                <form action="{% url 'search' %}" method="POST">
                    {% csrf_token %}
                    <input class="search" type="text" name="q" placeholder="Search Encyclopedia">
                </form>
                <div class="menu">
                    <div>
                        <a href="{% url 'index' %}">Home</a>
                    </div>
                    <div>
                        <a href="{% url 'new_page' %}">Create New Page</a>
                    </div>
                    <div>
                        <a href="{% url 'random' %}">Random Page</a>
                    </div>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>